{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block body %}
  {% block header %}{% endblock %}
<style>
  .custom-img-size {
    width: 150px;
    height: auto;
  }
</style>
  <div class="container mt-5">
    <h2 class="text-center mb-5">Mon panier</h2>

    <div class="table-responsive"> <!-- Permettre le défilement horizontal sur mobile -->
        <table class="table">
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>Image</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Total</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% if articles is not empty %}
                    {% for article in articles %}
                        <tr>
                            <td>{{ article.produit.name }}</td>
                            <td><img src="{{ asset('assets/img/' ~ article.produit.img) }}" alt="ffff" class="img-fluid custom-img-size"></td>
                            <td>{{ article.produit.prix }}€</td>
                            <td>{{ article.quantity }}</td>
                            <td>{{ article.quantity * article.produit.prix }}€</td>
                            <td>
                                <div class="btn-group">
                                    <a href="{{ path("app_add_panier", {id: article.produit.id}) }}" class="btn btn-order">
                                        <i class="fas fa-check-circle"></i><span class="d-none d-sm-inline">Ajouter le produit</span>
                                    </a>
                                    <a onClick="return confirm('Etes-vous sur de vouloir retirer une quantité?')" href="{{ path("app_remove_panier", {id: article.produit.id}) }}" class="btn btn-order">
                                        <i class="fas fa-pencil-alt"></i><span class="d-none d-sm-inline">Enlever une quantité</span>
                                    </a>
                                    <a onClick="return confirm('Voulez-vous vraiment supprimer le produit ?')" href="{{ path("app_delete_panier", {id: article.produit.id}) }}" class="btn btn-order">
                                        <i class="fas fa-trash-alt"></i><span class="d-none d-sm-inline">Supprimer le produit</span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="6" class="text-center">
                            Votre panier est vide!
                        </td>
                    </tr>
                {% endif %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">Total</td>
                    <td>{{ total }}€</td>
                    <td></td>
                    <td>
                        <div class="btn-group">
                            <a onClick="return confirm('Voulez-vous vraiment supprimer le panier ?')" href="{{ path("app_delete_all_panier") }}" class="btn btn-order">
                                <i class="fas fa-trash-alt"></i><span class="d-none d-sm-inline">Supprimer le panier</span>
                            </a>
                            <a href="{{ path("app_commande") }}" class="btn btn-order">
                                <i class="fas fa-check-circle"></i><span class="d-none d-sm-inline">Passer la commande</span>
                            </a>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

{% endblock %}

{% block javascripts %}
{% endblock %}