{% extends 'base.html.twig' %}

{% block title %}Admin user list{% endblock %}

{% block body %}

    {% block header %} {% endblock %}
    <h1>Admin user list</h1>

    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-order m-3" href="{{ path('app_add_users') }}">Ajouter un user</a>
        </div>
    </div>

    {% for user in user %}
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">email</th>
                            <th scope="col">password</th>
                            <th scope="col">Actions</th>
                            <th scope="col">commande</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ user.email }}</td>
                            <td>{{ user.id }}</td>
                            <td>{{ user.password }}</td>
                            <td>
                                <a class="btn btn-order" href="{{ path("app_users_commande", {'id': user.id}) }}">voir les commandes</a>
                            </td>
                            <td> 
                             <a href="{{ path('app_edit_users', {'id': user.id}) }}" class="btn btn-order">
                              <i class="fas fa-pencil-alt"></i> <span class="d-none d-sm-block">Modifier</span>
                            </a>
                            <a href="{{ path('app_supp_users', {'id': user.id}) }}" class="btn btn-order">
                              <i class="fas fa-trash-alt"></i> <span class="d-none d-sm-block">Supprimer</span>
                            </a>
                            
                                {# <a href="{{ path('app_edit_users', {'id': user.id}) }}"  type="button" class="btn btn-success">Edit</a> #}
                                {# <button type="button" class="btn btn-danger">Delete</button> #}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    {% endfor %}

{% endblock %}
