{% extends 'base.html.twig' %}

{% block title %}Admin commandes utilisateur{% endblock %}

{% block body %}
    {% block header %}{% endblock %}
    <h1 class="mb-5">Admin commandes utilisateur</h1>

    {% if user is not null %}
        <h2 class="mb-5">Utilisateur : {{ user.name }} {{ user.firstname }}</h2>
        {% if articles is not empty %}
            <table class="table mb-5 table-striped">
                <thead>
                    <tr>
                        <th scope="col">Produit</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for article in articles %}
                        <tr>
                            <td>{{ article.produit.name }}</td>
                            <td>{{ article.produit.prix }}€</td>
                            <td>{{ article.quantity }}</td>
                            <td>{{ article.produit.prix * article.quantity }}€</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class=" p-5 chiffre_affaire mb-5">Aucun article pour cet utilisateur.</p>
        {% endif %}
    {% else %}
        <p class="mb-5 p-5 chiffre_affaire">Utilisateur non trouvé.</p>
    {% endif %}
{% endblock %}

{% block javascripts %}
{% endblock %}