{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}

{% block header %} {% endblock %}
    
    <h1>Modifier mes coordonnées</h1>
    
    {{ form_start(form) }}
        {{ form_row(form.name, {'attr': {'class': 'input-color'}}) }}
        {{ form_row(form.firstname, {'attr': {'class': 'input-color'}}) }}
        {{ form_row(form.tel, {'attr': {'class': 'input-color'}}) }}
        {{ form_row(form.email, {'attr': {'class': 'input-color'}}) }}
        {{ form_row(form.password, {
            label: 'Password',
            'attr': {
                 'class': 'input-color'
            }
        }) }}


        {# <button type="submit" class="btn">Register</button> #}
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
{% endblock %}