{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}
  {% block header %}{% endblock %}

  <div class="container mt-5">

    <h2 class="text-center mb-4">Mon profil</h2>

    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Email</th>
            <th scope="col">Tel</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ app.user.name }}</td>
            <td>{{ app.user.firstname }}</td>
            <td>{{ app.user.email }}</td>
            <td>{{ app.user.tel }}</td>
            <td>
              <div class="btn-group">
                <a href="{{ path('users_profil_modifier') }}" class="btn btn-order">
                  <i class="fas fa-pencil-alt"></i> <span class="d-none d-sm-inline">Modifier</span>
                </a>
                <a onClick="return confirm('Voulez-vous vraiment supprimer votre profil ?')" href="{{ path('users_profil_delete', {'id': app.user.id}) }}" class="btn btn-order">
                  <i class="fas fa-trash-alt"></i> <span class="d-none d-sm-inline">Supprimer</span>
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <h2 class="mt-5 text-center">Mon panier</h2>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Produit</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th class="text-end">Total</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% if articles is not empty %}
            {% for article in articles %}
              <tr>
                <td>{{ article.produit.name }}</td>
                <td>{{ article.produit.prix }}€</td>
                <td>{{ article.quantity }}</td>
                <td class="text-end">{{ article.quantity * article.produit.prix }}€</td>
                <td>
                  <div class="btn-group">
                    <a href="{{ path("app_add_panier", {id: article.produit.id}) }}" class="btn btn-order">
                      <i class="fas fa-check-circle"></i> <span class="d-none d-sm-inline">Ajouter</span>
                    </a>
                    <a href="{{ path("app_remove_panier", {id: article.produit.id}) }}" class="btn btn-order">
                      <i class="fas fa-pencil-alt"></i> <span class="d-none d-sm-inline">Modifier</span>
                    </a>
                    <a onClick="return confirm('Voulez-vous vraiment supprimer cet article du panier ?')" href="{{ path("app_delete_panier", {id: article.produit.id}) }}" class="btn btn-order">
                      <i class="fas fa-trash-alt"></i> <span class="d-none d-sm-inline">Supprimer</span>
                    </a>
                  </div>
                </td>
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td colspan="5" class="text-center">
                Votre panier est vide!
              </td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    </div>

    <h2 class="mt-5 text-center">Mes commandes</h2>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Produit</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          {% if articles is not empty %}
            {% for article in articles %}
              <tr>
                <td>{{ article.produit.name }}</td>
                <td>{{ article.produit.prix }}€</td>
                <td>{{ article.quantity }}</td>
                <td>{{ article.quantity * article.produit.prix }}€</td>
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td colspan="4" class="text-center">
                Votre panier est vide!
              </td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    </div>

  </div>
{% endblock %}

{% block javascripts %}
{% endblock %}
