{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}
  {% block header %}{% endblock %}

  <div class="container mt-5">

    <h2 class="mb-4">Mon profil</h2>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">Prenom</th>
          <th scope="col">Email</th>
          <th scope="col">Tel</th>
          <th scope="col">Mot de passe</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ app.user.name }}</td>
          <td>{{ app.user.firstname }}</td>
          <td>{{ app.user.email }}</td>
          <td>{{ app.user.tel }}</td>
          <td>*******</td>
          <td>
            <div class="btn-group">
              <a href="{{ path('users_profil_modifier') }}" class="btn btn-order">
                <i class="fas fa-pencil-alt"></i> <span class="d-none d-sm-block">Modifier</span>
              </a>
              <a onClick="return confirm('vous etes sur ?')" href="{{ path('users_profil_delete', {'id': app.user.id}) }}" class="btn btn-order">
                <i class="fas fa-trash-alt"></i> <span class="d-none d-sm-block">Supprimer</span>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <h2 class="mt-5">Mon panier</h2>

    <table class="table">
      <thead>
        <tr>
          <th>Produit</th>
          <th>Prix</th>
          <th>Quantité</th>
          <th>Total</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% if articles is not empty %}
          {% for article in articles %}
            <tr>
              <td>{{ article.produit.name }}</td>
              <td>{{ article.produit.prix }}€</td>
              <td>{{ article.quantity }}</td>
              <td class="text-end">{{ article.quantity * article.produit.prix }}€</td>
              <td>
                <div class="btn-group">
                  <a href="{{ path("app_add_panier", {id: article.produit.id}) }}" class="btn btn-order">
                    <i class="fas fa-check-circle"></i> <span class="d-none d-sm-block">Ajouter</span>
                  </a>
                  <a href="{{ path("app_remove_panier", {id: article.produit.id}) }}" class="btn btn-order">
                    <i class="fas fa-pencil-alt"></i> <span class="d-none d-sm-block">Modifier</span>
                  </a>
                  <a href="{{ path("app_delete_panier", {id: article.produit.id}) }}" class="btn btn-order">
                    <i class="fas fa-trash-alt"></i> <span class="d-none d-sm-block">Supprimer</span>
                  </a>
                </div>
              </td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td colspan="5" class="text-center">
              Votre panier est vide!
            </td>
            <tr>
          <td colspan="3">Total</td>
          <td class="text-end">0€</td>
          <td>
            <div class="btn-group">
              <a href="{{ path("app_delete_all_panier") }}" class="btn btn-order">
                <i class="fas fa-trash-alt"></i> <span class="d-none d-sm-block">Vider le panier</span>
              </a>
              <a href="{{ path("app_commande") }}" class="btn btn-order">
                <i class="fas fa-check-circle"></i> <span class="d-none d-sm-block">Commander</span>
              </a>
            </div>
          </td>
        </tr>
        {% endif %}
      </tbody>
      <tfoot>
        {# <tr>
          <td colspan="3">Total</td>
          <td class="text-end">{{ total }}€</td>
          <td>
            <div class="btn-group">
              <a href="{{ path("app_delete_all_panier") }}" class="btn btn-order">
                <i class="fas fa-trash-alt"></i> <span class="d-none d-sm-block">Vider le panier</span>
              </a>
              <a href="{{ path("app_commande") }}" class="btn btn-order">
                <i class="fas fa-check-circle"></i> <span class="d-none d-sm-block">Commander</span>
              </a>
            </div>
          </td>
        </tr> #}
      </tfoot>
    </table>

    <h2 class="mt-5">Mes commandes</h2>

    <table class="table">
      <thead>
        <tr>
          <th>Produit</th>
          <th>Prix</th>
          <th>Quantité</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        {% if articles is not empty %}
          {% for article in articles %}
            <tr>
              <td>{{ article.produit.name }}</td>
              <td>{{ article.produit.prix }}€</td>
              <td>{{ article.quantity }}</td>
              <td>{{ article.quantity * article.produit.prix }}€</td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td colspan="5" class="text-center">
              Votre panier est vide!
            </td>
            <tr>
          <td colspan="3">Total</td>
          <td>0€</td>
        </tr>
          </tr>
        {% endif %}
      </tbody>
      <tfoot>
        {# <tr>
          <td colspan="3">Total</td>
          <td>{{ total }}€</td>
        </tr> #}
      </tfoot>
    </table>
  </div>
{% endblock %}
