{{ form_start(formproduit) }}
    {{ form_row(formproduit.name) }}
    {{ form_row(formproduit.prix) }}
    {{ form_row(formproduit.description) }}
    {{ form_row(formproduit.img) }}
    {{ form_row(formproduit.categorie) }}
    <button type="submit">{{ button_label|default('Ajouter') }}</button>
{{ form_end(formproduit) }}