{% extends 'base.html.twig' %}

{% block title %}Admin produit{% endblock %}

{% block body %}
  {% block header %}{% endblock %}
  <div class="container">
    <h1 class="text-center mt-5">Admin produit</h1>
    <div class="text-center mt-4">
      <a class="btn btn-order" href="{{ path('app_add_produit') }}">Ajouter un produit</a>
    </div>
    <div class="table-responsive mt-4">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Prix</th>
            <th scope="col">Image</th>
            <th scope="col">Description</th>
            <th scope="col">Catégorie</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for produit in produit %}
            <tr>
              <td>{{ produit.name }}</td>
              <td>{{ produit.prix }}€</td>
              <td><img class="img-fluid" src="{{ asset('assets/img/' ~ produit.img) }}" alt="Product Image"></td>
              <td>{{ produit.description }}</td>
              <td>{{ produit.categorie.name }}</td>
              <td>
                <div class="d-flex justify-content-center">
                <a href="{{ path('app_edit_produit', {'id': produit.id}) }}" class="btn btn-order">
                    <i class="fas fa-pencil-alt"></i> <span class="d-none d-sm-block">Modifier</span>
                  </a>
                  <a onClick="return confirm('Voulez vous vraiement suprimer ce produit ?')" href="{{ path('app_supp_produit', {'id': produit.id}) }}" class="btn btn-order">
                    <i class="fas fa-trash-alt"></i> <span class="d-none d-sm-block">Supprimer</span>
                  </a>
                </div>
              </td>
            </tr>
          {% else %}
            <tr>
              <td colspan="6" class="text-center">Aucun produit trouvé.</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
