{% extends 'base.html.twig' %}

{% block title %}Hello CommandeController!{% endblock %}

{% block body %}
    {% block header %}{% endblock %}
    <div class="container">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prix</th>
                        <th>Description</th>
                        <th>Image</th>
                    </tr>
                </thead>
                <tbody>
                    {% for produit in articles %}
                        <tr>
                            <td>{{ produit.produit.name }}</td>
                            <td>{{ produit.produit.prix }}€</td>
                            <td>{{ produit.produit.description }}</td>
                            <td><img src="{{ asset('assets/img/' ~ produit.produit.img) }}" alt="ffff" class="img-fluid"></td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">Aucun produit trouvé.</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">Total: {{ total }}€</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 mb-3">
                <a class="btn btn-order btn-block btn-lg btn-beige" href="{{ path('app_stripe') }}">Passer au paiement</a>
            </div>
            <div class="col-12 col-sm-6 mb-3">
                <a class="btn btn-order btn-block btn-lg btn-beige" href="{{ path('app_panier') }}">Changer votre commande</a>
            </div>
        </div>
    </div>
{% endblock %}
