{% extends 'base.html.twig' %}

{% block title %}Nous contacter{% endblock %}

{% block body %}
{% block header %}{% endblock %}
    <div class="container text-dark">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-4">
                {{message}}
            </div>
        {% endfor %}
        <h1 class="text-center">Formulaire de contact</h1>
        <p class="text-danger">(*) Champs obligatoire</p>
        
        {# {{ dump(form) }} #}
         {# {{ form_start(form) }}  #}
         {{form(form)}}
          {# {{ form_end(form) }} #}
    </div> 
{% endblock %}