<div class="container">
	<div class="row">
		{% for produit in produit %}
			{% if produit.categorie.name == 'Sur-mesure' %}
				{# {% if v < 1 %} #}
				<div class="col-md-4 col-sm-6 col-xs-12">
					<a href="{{ path('app_sur_mesure') }}">
						<div class="card m-3" id="card_service">
							<img src="{{ asset( 'assets/img/' ~ produit.img) }}" class="card-img-top mt-3" alt="...">
							<div class="card-body" id="card_service">
          </a>
							<h5 class="card-title" id="p_cards">{{ produit.name }}</h5>
							<p class="card-text merriweather" id="p_cards">{{ produit.description}}</p>
							<p id="service_price" class="merriweather">{{ produit.prix }}€</p>
						</div>
					</div>
					<a href="{{ path('app_add_panier', {id: produit.id}) }}" class="btn-color">
						<p class="m-auto" id="NomSite">Ajouter au panier</p>
					</a>
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>
