<section class="col-12" id="section_list">
    <h2 class="mb-5">Nos Services</h2>
    <p id="service_list" class="col-12 text-center">Sity gère toutes les demandes digitales demandées: Conception, création de site internet, UX design, UI design, SEO, maintenance, refonte, migration et web marketing, logo.
    </p>
</section>
<section id="cards" class="col-12 row-2">
    <div class="row">
        <div class="card col-4 m-5" id="card_service" style="width: 18rem;">
            <img src=" {{asset('assets/img/chiffre_affaire.jpeg')}}" class="card-img-top mt-3" alt="...">
            <div class="card-body" id="card_service">
            <h5 class="card-title" id="p_cards">Site e-commerce</h5>
            <p class="card-text" id="p_cards">Sity est plutôt pointé vers les créations de site e-commerce</p>
            <p id="service_price">3000€</p>
            <a href="{{ path('app_ecommerce') }}" class="btn btn-color">Site e-commerce</a>
            </div>
        </div>
        <div class="card col-4 m-5" id="card_service"  style="width: 18rem;">
            <img src=" {{asset('assets/img/chiffre_affaire.jpeg')}}" class="card-img-top  mt-3" alt="...">
            <div class="card-body" id="card_service">
            <h5 class="card-title" id="p_cards">Site vitrine</h5>
            <p class="card-text " id="p_cards">Sity est plutôt pointé vers les créations de site e-commerce</p>
            <p id="service_price">1000€</p>
            <a href="{{ path('app_vitrine') }}" class="btn btn-color">Site Vitrine</a>
            </div>
        </div>
        <div class="card col-4 m-5" id="card_service" style="width: 18rem;">
            <img src=" {{asset('assets/img/chiffre_affaire.jpeg')}}" class="card-img-top mt-3" alt="...">
            <div class="card-body" id="card_service">
            <h5 class="card-title" id="p_cards">Site sur mesure</h5>
            <p class="card-text" id="p_cards">Sity est plutôt pointé vers les créations de site e-commerce</p>
            <p id="service_price">Devis par mail ou tél</p>
            <a href="{{ path('app_sur_mesure') }}" class="btn btn-color">Site sur mesure</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card col-4 m-5" id="card_service" style="width: 18rem;">
        <img src=" {{asset('assets/img/chiffre_affaire.jpeg')}}" class="card-img-top  mt-3" alt="...">
        <div class="card-body" id="card_service">
            <h5 class="card-title" id="p_cards">Site e-commerce</h5>
            <p class="card-text" id="p_cards">Sity est plutôt pointé vers les créations de site e-commerce</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        </div>
        <div class="card col-4 m-5" id="card_service" style="width: 18rem;">
        <img src=" {{asset('assets/img/chiffre_affaire.jpeg')}}" class="card-img-top  mt-3" alt="...">
        <div class="card-body" id="card_service">
            <h5 class="card-title" id="p_cards">Site e-commerce</h5>
            <p class="card-text" id="p_cards">Sity est plutôt pointé vers les créations de site e-commerce</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        </div>
        <div class="card col-4 m-5" id="card_service" style="width: 18rem;">
        <img src=" {{asset('assets/img/chiffre_affaire.jpeg')}}" class="card-img-top  mt-3" alt="...">
        <div class="card-body" id="card_service">
            <h5 class="card-title" id="p_cards">Site e-commerce</h5>
            <p class="card-text" id="p_cards">Sity est plutôt pointé vers les créations de site e-commerce</p>
            <p id="service_price">1000€</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        </div>
    </div>
</section>
