<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block meta %}
        
        {% endblock %}

        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-...your-integrity-hash..."/>

        {#bootstrap css#}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">

        {# icone #}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>
    {# <body id=" {{ bodyId }}" > #}
<body >
        {% block nav %}
        {% include './template_parts/navbar.html.twig' %}
        {% endblock %}
        
        <header>
            {% block header%}

    {% if is_granted('ROLE_SUPER_ADMIN') or  is_granted('ROLE_USER') %}
    <h1> Hello {{app.user.firstname}} {{app.user.name}} ! Sity vous accompagne dans l'apogée de votre projet !!</h1>
    {% else %}
    <h1> Hello ! Sity vous accompagne dans l'apogée de votre projet !!</h1>
    {% endif %}
    <div class="d-none d-sm-block">
    {% include './template_parts/carousel.html.twig' %}
    </div>
    {# {% include './template_parts/card.html.twig' %} #}
             {% endblock %}
        </header>

        <main>
            {% block body %}
                {% include './template_parts/chiffre_affaire.html.twig' %}
                {% include './template_parts/nous.html.twig' %}
                {% include './template_parts/services.html.twig' %}
                <p class="merriweather">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, iure autem doloribus ipsam aliquam tenetur perspiciatis cupiditate provident distinctio illo quisquam voluptatum sint fugiat doloremque itaque pariatur vitae. Omnis minus necessitatibus a fuga incidunt maxime, nulla recusandae ad dolorum odio voluptatem. Sint placeat, ipsa inventore iure aut in ea libero. Rem, sequi aspernatur nesciunt ipsa, velit similique cumque ad error id, pariatur qui deserunt perferendis eveniet. Explicabo tenetur fuga facere, perspiciatis esse quaerat fugiat eos veritatis quidem velit minus. Rem voluptates dignissimos accusantium quod? Accusamus unde ipsum, aperiam voluptate rem laudantium magnam nesciunt, totam soluta esse exercitationem, harum earum eius!
                </p>
            {% endblock %}
        </main>

        <footer>
            {% block footer %}
                {% include './template_parts/footer.html.twig' %}
            {% endblock %}
        </footer>


        {# Jquery #}
        <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
       
        {# bootstrap js #}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
